@font-face {
  font-family: 'BasisGrotesk'; 
  src: url('typefaces/BasisGrotesquePro-Light 2.otf'); 
}
@font-face {
  font-family: 'MabryMonoMRegular'; 
  src: url('typefaces/MabryMonoPro-Regular.ttf'); 
}
@font-face {
  font-family: 'MonumentGrotesk'; 
  src: url('typefaces/monument-grotesk-regular.otf'); 
}
@font-face {
  font-family: 'FoundersGroteskLight'; 
  src: url('typefaces/FoundersGrotesk-Light.otf'); 
}

h1{
  font-size: 42px;
  font-family: 'BasisGrotesk';
}
h2{
  font-size: 28px;
  font-family: 'MabryMonoMRegular';
}
h3{
  font-size: 24px;
  font-family: 'FoundersGroteskLight';
  color: #474747;
}
h4{
  font-size: 24px;
  font-family: 'MonumentGrotesk';
  margin-top: 50px;
  color: #DB7C0E;
}
h5{
  font-size: 20px;
  font-family: 'MonumentGrotesk';
}
p, li{
  font-size:20px;
  font-family: 'FoundersGroteskLight'; 
  line-height: 30px;
}
li:not(:last-child){
  margin-bottom: 10px;
}

#titleArea{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 8%;
  margin-bottom: 4%;
}
#goal{
  width: 75%;
}
#pageLink:hover{
  color:#991A8C;
  transition: 0.5s;
}

#interfaces{
  display: flex;
  justify-content: space-between;
  gap:4%;
}
#versionA{
  display:flex;
  flex-direction: column;
}
#versionB{
  display: flex;
  flex-direction: column;
}
#versionAImg{
  width:100%;
  margin-bottom: 2%;
}
#versionBImg{
  width:100%;
  margin-bottom: 2%;
}

.hypotheses{
  display: flex;
  align-items: flex-start;
  gap: 4%;
  margin-bottom: 2%;
  margin-top: 2%;
}
.metric{
  white-space: nowrap;
}
.nullSec{
  width: 50%;
}
.altSec{
  width: 50%;
}
.prediction, .reasoning, .changes, .dataPar, .dataHead, li{
  font-size: 16px;
  line-height: 24px;
}
ul {
  margin-right: 10%;
  margin-left: 2%;
}
.results{
  display: flex;
  align-items: flex-start;
  gap: 4%;
  margin-bottom: 2%;
}
.conclusions{
  width: 90%;
}

#data{
  margin-bottom: 8%;
  margin-left: 10%;
  margin-right: 10%;
}
.dataHead{
  white-space: nowrap;
}
.dataSum{
  display: flex;
  gap:4%;
}
#analysis{
  margin-bottom: 8%;
  margin-left: 10%;
  margin-right: 10%;
}
#dataSummary{
  margin-left: 8%;
  margin-right: 8%;
}

#conclusion{
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
  min-width: 325px;
}
