@font-face {
  font-family: 'BasisGrotesk'; 
  src: url('typefaces/BasisGrotesquePro-Light 2.otf'); 
}
@font-face {
  font-family: 'MabryMonoMRegular'; 
  src: url('typefaces/MabryMonoPro-Regular.ttf'); 
}
@font-face {
  font-family: 'MonumentGrotesk'; 
  src: url('typefaces/monument-grotesk-regular.otf'); 
}
@font-face {
  font-family: 'FoundersGroteskLight'; 
  src: url('typefaces/FoundersGrotesk-Light.otf'); 
}

h1{
  font-size: 48px;
  font-family: 'BasisGrotesk';
}
h2{
  font-size: 32px;
  font-family: 'MabryMonoMRegular';
}
h3{
  font-size: 28px;
  font-family: 'FoundersGroteskLight';
  color: #474747;
}
h4{
  font-size: 24px;
  font-family: 'MonumentGrotesk';
  margin-top: 50px;
  color: #DB7C0E;
}
h5{
  font-size: 20px;
  font-family: 'MonumentGrotesk';
}
p, li{
  font-size:20px;
  font-family: 'FoundersGroteskLight'; 
  line-height: 30px;
}
li:not(:last-child){
  margin-bottom: 10px;
}

#titleArea{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 8%;
  margin-bottom: 10%;
}

#pageLink:hover{
  color:#991A8C;
  transition: 0.5s;
}

#conclusion{
  margin-bottom: 10%;
  min-width: 325px;
}
